{% extends "theses/theses_base.html" %}
{% load wagtailcore_tags %}
{% load disqus_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-thesisarticlepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 pb-0">
            <p class="mb-0">{{ page.intro }}</p>
            <small class="text-muted">{{ page.date }} | {{ page.author }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr>
            {% for block in page.body %}
                {% if block.block_type == 'image' %}
                    <section class="block-image">
                        {% image block.value original as my_image %}
                        <a href="{{ my_image.url }}" target="_blank"><img class="blog-image" src="{{ my_image.url }}"/></a>
                    </section>
                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% disqus_show_comments %}
        </div>
    </div>

{% endblock %}
