{% extends "base.html" %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}
{% load wagtailuserbar %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/retreat.css' %}">
{% endblock %}

{% block body_class %}template-retreat{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row mb-3" id="menu_bar">
            <div class="col-md-12">
                {% flat_menu "retreat_menu" template="menus/cfar_menu.html" %}
            </div>
        </div>
        <div class="row page-content">
            {% for block in page.body %}
                <div class="col-md-12 mt-3">
                    {% if block.block_type == 'heading' %}
                        <h1 id="{{ block.value|cut:" "  }}">{{ block.value }}</h1>
                    {% else %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}