[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
wagtail = "==2.2"
wagtailmenus = "==2.7"
sendgrid-django = "==4.1.0"
gunicorn = "*"
django-disqus = "==0.5"
django-extensions = "*"
django-debug-toolbar = "*"
