beautifulsoup4==4.5.3
Django==1.10.5
django-modelcluster==3.0.1
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.5.4
html5lib==0.999999999
olefile==0.44
Pillow==4.0.0
pytz==2016.10
requests==2.13.0
six==1.10.0
Unidecode==0.4.20
wagtail==1.9
wagtailmenus==2.2.0
sendgrid-django==4.0.4
gunicorn==19.7.0
django-disqus==0.5
