{% extends "base.html" %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eacr.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row" id="menu_bar">
            <div class="col-md-12 mb-3">
                {% main_menu template="menus/main_menu.html" %}
            </div>
        </div>

        {% block content %}
            Page is empty. This template shouldn't be used directly
        {% endblock %}


        <hr class="mt-3"/>
        <div class="row">
            <div class="col-md-12">
                <footer role="contentinfo">
                    {% flat_menu "footer_menu" template="menus/footer_menu.html" %}
                    <p class="copyright">
                        © 2018 <a href="">Efektivní Altruismus</a>.
                        <a href="http://github.com/ea-czech-republic/efektivnialtruismus.cz">Github EA ČR</a>
                        -
                        patches welcome.
                    </p>
                </footer>
            </div>
        </div>
    </div>

    {% block extra_js %}
        <script type="text/javascript" src="{% static 'js/eacr.js' %}"></script>
    {% endblock %}

    {% block socials %}

        <div id="share">

            <!-- facebook -->
            <a class="facebook" href="https://www.facebook.com/share.php?u={{ page.full_url }}&title={{ page.title }}"
               target="blank"><i
                    class="fa fa-facebook"></i></a>

            <!-- twitter -->
            <a class="twitter" href="https://twitter.com/intent/tweet?status={{ page.title }}+{{ page.full_url }}"
               target="blank"><i
                    class="fa fa-twitter"></i></a>
            <!-- linkedin -->
            <a class="linkedin"
               href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.full_url }}&title={{ page.title }}&source={{ page.full_url }}"
               target="blank"><i class="fa fa-linkedin"></i></a>

            <!-- google plus -->
            <a class="googleplus" href="https://plus.google.com/share?url={{ page.full_url }}" target="blank"><i
                    class="fa fa-google-plus"></i></a>

            <!-- pinterest -->
            <a class="pinterest"
               href="https://pinterest.com/pin/create/bookmarklet/?url={{ page.full_url }}&is_video=false&description={{ page.title }}"
               target="blank"><i class="fa fa-pinterest-p"></i></a>


        </div>

    {% endblock %}
{% endblock %}
