{% load menu_tags i18n %}
{% load static %}

<nav class="navbar navbar-dark bg-inverse navbar-expand-md sticky-top bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Effective Thesis</a>
        <div class="collapse navbar-collapse navbar-right" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                {% for item in menu_items %}
                    <li class="nav-item {{ item.active_class }}">
                        <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
