{% load menu_tags i18n %}
{% load static %}

<style>
.dropbtn {
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}
</style>

<nav class="navbar navbar-dark bg-inverse navbar-expand-md sticky-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Effective Thesis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                {% for item in menu_items %}
                    <li class="nav-item {{ item.active_class }}">
                        {% if item.has_children_in_menu %}
                              <div class="dropdown">
                                  <span onclick="myFunction('myDropdown-{{ item.text | slugify}}')" class="nav-link dropbtn">{{ item.text }}</span>
                                  <div id="myDropdown-{{ item.text | slugify}}" class="dropdown-content bg-primary">
                                      {% sub_menu item %}
                                  </div>
                                </div>
                        {% else %}
                             <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction(dropdownName) {
  document.getElementById(dropdownName).classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>