{% load menu_tags i18n %}
{% load static %}

<style>
.dropdown-item {
    color:rgba(255,255,255,.5) !important;
}

.dropdown-item:hover {
    background-color:transparent;
    color:rgba(255,255,255,.75) !important;
}
</style>

<nav class="navbar navbar-dark bg-inverse navbar-expand-md sticky-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Effective Thesis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                {% for item in menu_items %}
                    <li class="nav-item {{ item.active_class }}">
                        {% if item.has_children_in_menu %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ item.text }}
                                </a>
                                <div class="dropdown-menu bg-primary bg-inverse" aria-labelledby="navbarDropdownMenuLink">
                                    {% for sub_item in item.sub_menu.items %}
                                        <a class="dropdown-item {{ sub_item.active_class }}" style="" href="{{ sub_item.href }}">{{ sub_item.text }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                             <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
