{% extends 'simple/simple_base.html' %}
{% load static wagtailuserbar %}

{% block content %}
    <div class="col-lg-12" id="page-lead" style="background-image: url({% static "imgs/background.jpg" %});">
        <div class="row mt-5">
            <div class="mx-auto">
                <h3 class="display-3" style="font-weight: bold;">Efektivní Altruismus</h3>
            </div>
        </div>

        <div class="row mt-4">
            <div class="mx-auto">
                <h3 class="display-5" style="font-weight: bold;">Nejúčinnější z nejúčinnějších způsobů
                    pomoci.</h3>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="mx-auto">
                <a href="/co-je-ea" class="btn btn-secondary">Více informací</a>
                <span class="ml-2"></span>
                <a href="/blog" class="btn btn-secondary">Seznam článků</a>
            </div>
        </div>

    </div>

    <div class="row mt-5 mb-5">
        {% for block in page.body %}
            {{ block }}
        {% endfor %}
    </div>
{% endblock %}