{% extends "base.html" %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eacr.css' %}">
{% endblock %}

{% block body_class %}template-pomahejefektivne{% endblock %}

{% block base_content %}
    <div class="container home-content">
        <div class="row" id="menu_bar">
            <div class="col-md-12 mt-5 mb-4">
                {% flat_menu "pomahej_efektivne" template="menus/pomahej_efektivne_menu.html" %}
            </div>
        </div>
        <div class="row page-content">
            {% for block in page.body %}
                <div class="col-md-12">
                    {% if block.block_type == 'heading' %}
                        <h1 id="{{ block.value|cut:" "  }}" style="padding-top: 85px; margin-top: -85px;">{{ block.value }}</h1>
                    {% else %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    {# <script type="text/javascript" src="{% static 'js/eacr.js' %}"></script> #}
{% endblock %}

