h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
    color: #070259;
    font-weight: bold;
}

.bg-primary {
    background-color: #070259 !important;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5 {
    color: white;
}

.bg-white {
    background-color: #ffffff00;
}

.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5 {
    color:  #070259;
}

.tag {
    background-color: rgb(249, 229, 209);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.tags-label {
    font-size: 9px;
}

.hero {
    background: no-repeat center center;
    background-size: cover;
    text-shadow: 2px 1px 33px black;
}

.hero .jumbotron {
    color: white;
    padding-top: 10rem;
    padding-bottom: 13rem;
    background: unset;
    border-radius: unset;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

@media (min-width: 992px) {
    .card-finished {
        height: 100%;
        min-height: 270px;
    }
}

.card-finished .card-body {
    background-color: #E5E4E4;
}

.special-card {    
      background-color:#070259;
    }

.new-card {    
        background-color:#06025900;
      }  

.card-finished .card-footer {
    background-color: #070259;
}

.card-img-wrapper {
    position: relative;
}

.topic-areas-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.more-topics {
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.thesis-nav a {
    color: #070259;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.thesis-action {
    background-color: #f7f7f7;
}

.thesis-action-text {
    color: #070259;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.thesis p {
    margin-right: 20px;
    margin-left: 20px;
}

.card-subheader {
    color: #f7f7f9;
}

.btn-responsive {
    width: 215px;
}

.collapse-preview {
    position: relative;
}

.collapse-preview:not(.show):after {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 5%, rgba(255,255,255, 0) 95%);
    pointer-events: none; /* so the text is still selectable */
}

.collapsible-body > a.collapsed:after {
  content: 'Read more';
}

.collapsible-body > a:not(.collapsed):after {
  content: 'Show less';
}

.collapsible-body #collapse-body.collapse:not(.show) {
  display: block;
  height: 12em;
  overflow: hidden;
}

.collapsible-body #collapse-body.collapsing {
  height: 12em;
}

.collapsible-body #collapse-body-2.collapse:not(.show) {
  display: block;
  height: 12em;
  overflow: hidden;
}

.collapsible-body #collapse-body-2.collapsing {
  height: 12em;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 900px) {
    body.template-thesisindex h3.display-3 {
        font-size: 5vw;
    }
}

@media (max-width: 580px) {
    body.template-thesisindex p {
        font-size: 4vw;
    }
}

@media (max-width: 580px) {
    .responsive-text {
        font-size: 4vw;
    }
}

@media (max-width: 580px) {
    .btn-responsive {
        width: 40vw;
        padding: 3px;
    }
}

.choose-nav-links {
    margin: .5em;
}

@media screen and (max-width: 768px) {
    .custom-collapse .collapse {
        display: block;
    }
}

.rich-text img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: auto;
}

.block-image img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed-card-header-height {
    min-height: 3.5rem;
}

.thesis-these {
    line-height: 2rem;
}

.center-pills {
    display: inline-flex;
}

.li-choose{
    margin-left: 2rem;
    margin-right: 2rem;
}


.template-thesisblogindexpage .indexed-post {
    border: 1px solid #ccc !important;
    border-radius: 16px !important;
}

.block-heading {
    color: #070259;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.template-thesisarticlepage section.block-paragraph p {
    text-align: justify;
}

body.template-thesisarticlepage section.block-image img.blog-image {
    text-align: center;
    max-width: 100%;
    max-height: 450px;
    height: auto;
    width: auto;
}
