{% extends "theses/theses_base.html" %}
{% load static %}

{% block for_conversion_head %}
    <!-- Event snippet for I want topic conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-866290173/z-wYCJiOwnUQ_ZOKnQM'});
    </script>
{% endblock %}


{% block content %}
    <h1>
        Thank you for your interest!
    </h1>
    <a href="https://www.facebook.com/share.php?u={{ origin_url }}&title=My new thesis topic! {{ title }}">
        <h3>
            Share this great news with your friends on Facebook!
        </h3>
    </a>

    <p>
        Take me <a href="{{ origin_url }}">back</a>
    </p>

{% endblock %}
