{% extends "theses/theses_base.html" %}
{% load static %}

{% block for_conversion_head %}
    <!-- Event snippet for I want topic conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-866290173/z-wYCJiOwnUQ_ZOKnQM'});
    </script>
{% endblock %}


{% block content %}
    <h1>Thank you for your interest!</h1>
    <a href="https://www.facebook.com/share.php?u={{ origin_url }}&title=My new thesis topic! {{ title }}">
        <h3>
            Share this great news with your friends on Facebook!
        </h3>
    </a>

    <!-- Facebook Share Button -->
    <div id="fb-root"></div>
    <div class="fb-share-button mt-1 mb-2" data-href="{{ origin_url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ origin_url }}&title=My new thesis topic! {{ title }}" class="fb-xfbml-parse-ignore">Share</a></div>

    <p>
        Take me <a href="{{ origin_url }}">back</a>
    </p>

{% endblock %}


{% block extra_js_2 %}
    <!-- Script for Facebook Share Button -->
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
