{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load menu_tags %}
{% load static %}
{% load wagtailuserbar %}

{% block extra_css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/eacr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theses.css' %}">
{% endblock %}

{% block extra_head %}
    <script>
       (function(h,o,t,j,a,r){
           h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
           h._hjSettings={hjid:739132,hjsv:6};
           a=o.getElementsByTagName('head')[0];
           r=o.createElement('script');r.async=1;
           r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
           a.appendChild(r);
       })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Global site tag (gtag.js) - Google AdWords: 866290173 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-866290173"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-866290173');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MXM5KZ9');</script>
    <!-- End Google Tag Manager -->

    {% block for_conversion_head %}
        {# this is used in conversion.html #}
    {% endblock %}
{% endblock %}

{% block body_class %}template-thesisbase{% endblock %}

{% block base_content %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXM5KZ9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
        <div class="row" id="menu_bar">
            <div class="col-md-12 mb-3 pl-0">
                {% flat_menu handle="theses_menu" template="menus/theses_menu.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="mt-5"/>
                <footer role="contentinfo">
                    {% flat_menu "theses_footer" template="menus/footer_menu.html" %}
                    <p class="copyright">
                        © 2018 <a href="">Efektivní Altruismus</a>.
                        <a href="http://github.com/ea-czech-republic/efektivnialtruismus.cz">Github EA ČR</a>
                        -
                        patches welcome.
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-close-text="Got it!">
    </script>

{% endblock %}

{% block extra_js %}
    <script src="{% static "js/theses.js" %}"></script>

    {% block extra_js_2 %}
    {% endblock %}

{% endblock %}

{% block google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77119148-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-77119148-3');
    </script>

{% endblock %}
