{% extends "theses/theses_base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load menu_tags %}

{% block content %}
    <main class="hero" style="background-image: url({% static "img/hero-topics-theses.jpg" %});">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mr-auto">
                        <h1 class="text-white mb-4">
                            <span class="d-inline-block">Stir your inspiration and make</span>
                            <span class="d-inline-block">your research useful</span>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <img class="hero-arrow" src="{% static "img/arrow-down.svg" %}" alt="Arrow pointing down">
                </div>
            </div>
        </div>
    </main>

    <div class="container">
        <!-- before disciplines -->
        <div class="row my-5">
            <div class="col">
                {% include_block page.body %}
            </div>
        </div>

        <!-- disciplines -->
        <div class="row mb-5">
            <div class="col">
                <h3 id="disciplines" class="text-uppercase mb-4">
                    Explore and get interested
                </h3>

                <form id="discipline-filter-form" action="#disciplines" method="GET">
                    {% for discipline in disciplines %}
{#                        TODO these shoud be radio buttons#}
                        <input id="{{ discipline | slugify }}-discipline"
                               class="d-none"
                               type="checkbox"
                               name="discipline"
                               value="{{ discipline }}"
{#                               {% if discipline.name == selectedDiscipline %}#}
{#                               checked#}
{#                               {% endif %}#}
                        />
                        <label class="btn btn-primary btn-sm{% if discipline.name == selectedDiscipline %} active{% endif %}"
                               for="{{ discipline | slugify }}-discipline">
                            {{ discipline }}
                        </label>
                    {% endfor %}
                    <!-- Must be here because of stupid firefox which cannot submit forms without a button -->
                    <input id="disc-submit-input" type="submit" value="submit" style="visibility:hidden;"/>
                </form>
            </div>
        </div>

        {% if selectedDisciplineDescription %}
            <div class="row mb-5">
                <div class="col-md-12 all-tags">
                    <div class="mb-3">
                        <p>{{ selectedDisciplineDescription | safe }}</p>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- After disciplines -->
        <div class="row my-5">
            <div class="col">
                {% include_block page.footer %}
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js_2 %}
    <script>
        $(document).ready(function () {
            if (
                window.location.search.includes("discipline")
                && window.location.hash !== "disciplines"
            ) {
                window.location.hash = "disciplines";
            }
        });

        /* Terrible hack - we need to append the form to the DOM and then send it... Mostly because firefox */
        var _form = document.getElementById("discipline-filter-form");
        document.getElementById("discipline-filter-form").addEventListener("click", function () {
            var form = $.clone(_form);
            form.style.display = "none";
            document.body.appendChild(form);
            form.submit();
        });
    </script>
{% endblock %}
