{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <div class="row">
                    <div class="col text-center mt-3">
                        <h1>We have finished these topics</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card-deck">
                            {% if theses %}
                                {% for thesis in theses %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h2>{{ thesis.title }}</h2>
                                        </div>
                                        <div>
                                            <a href="{% pageurl thesis %}">
                                                <div class="card-footer text-center btn btn-primary" style="width: 100%">
                                                    <span>READ MORE</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                nope
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col">
                <h1 class="text-center mb-2">We are working on</h1>
                {{ page.body }}
            </div>
        </div>

    {% if page.footer %}
        <div class="row">
            <div class="col">
                <hr/>
                {{ page.footer }}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
