{% extends "theses/theses_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}


{% block body_class %}template-thesisindex{% endblock %}

{% block content %}
    <main class="hero" style="background-image: url({% static "img/hero-home.jpg" %});">
        <div class="jumbotron">
            <div class="container">
                 <div class="row">
                    <div class="text-left">
                        <h1 class="text-white mb-4">Make your thesis meaningful</h1>
                        <p class="text-white">What if you could use your thesis to work on solving the most important problems our world faces? </br></br>We provide free coaching and guidance to students, from undergraduate to PhD level, who want to begin research careers that significantly improve the world.</p>
                     </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container">
        <h1 class="text text-center mb-4">Our Services</h1>
        <div class="row row-cols-1">
            <div class="col-1"></div>
            <div class="col">
                <div class="card-deck mt-4">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img class="card-img-bottom" src="{% static 'img/research-topics.jpg' %}" class="card-img-top">
                            <a href="/theses">
                                <div class="topic-areas-overlay">
                                    <h1 class="px-5 card-title text-white">Topics</h1>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="h5 text-center">
                                Be inspired by our profiles on research directions with high potential to significantly improve the world.
                            </p>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img class="card-img-bottom" src="{% static 'img/two-woman-chatting.jpg' %}" class="card-img-top">
                            <a href="/thesis-coaching">
                                <div class="topic-areas-overlay">
                                    <h1 class="px-5 card-title text-white">Coaching</h1>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="h5 text-center">
                                Get tailored advice and benefit from being connected to experienced researchers in your field and our community of students.
                            </p>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>

      <div class="container">
        <div class="row row-cols-2">
            <div class="col-1"></div>
            <div class="col">
                <div class="card-deck mt-4">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img class="card-img-bottom" src="{% static 'img/supervisors.jpg' %}" class="card-img-top">
                            <a href="/other-services/#supervisors">
                                <div class="topic-areas-overlay">
                                    <h1 class="px-5 card-title text-white">Supervisors</h1>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="h5 text-center">
                                Access our database of potential thesis supervisors who work in the research areas we recommended.
                            </p>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img class="card-img-bottom" src="{% static 'img/opportunities.jpg' %}" class="card-img-top">
                            <a href="/other-services/#opportunities">
                                <div class="topic-areas-overlay">
                                    <h1 class="px-5 card-title text-white">Opportunities</h1>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="h5 text-center">
                                Sign up to receive news on jobs, internships, prizes and scholarships that we think could be a good fit for you.
                            </p>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary py-4 my-1">
        <div class="container mb-3">
            <div class="row row-cols-1">
                <div class="col-1"></div>
                <div class="col">
                    <div class="card-deck mt-4">
                    <div class="card special-card d-flex">
                        <div class="special-card text-center">
                                    <div class="card-body align-items-center d-flex justify-content-center">
                                        <p class="text-white h2">
                                            Read our key ideas to learn more about our research and how to choose a thesis topic.
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="card special-card">
                        <div class="card-img-wrapper">
                            <img class="card-img-bottom" src="{% static 'img/key-ideas.jpg' %}">
                            <a href="/key-ideas/#impact">
                                <div class="topic-areas-overlay">
                                    <h1 class="px-5 card-title text-white">Key Ideas</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
         </div>
        </div>
    </div>

    <div class="bg-white py-1 my-3">
        <div class="container mb-3">
            <div class="row row-cols-1">
                <div class="col">
                <div class="card-deck mt-4">
                    <div class="col-1"></div>
                <div class="card">
                    <div class="card-img-wrapper">
                    <img class="card-img-bottom" src="{% static 'img/finished-theses.jpg' %}">
                        <a href="/finished">
                            <div class="topic-areas-overlay">
                                <h1 class="px-5 card-title text-white">Finished Theses</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2"></div>
                    <div class="card new-card d-flex">
                        <div class="new-card text-center">
                                    <div class="card-body align-items-center d-flex justify-content-center">
                                         <p class="text h2">
                                            Check out the theses of students we advised and see what current students are working on.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>            
</div>

<div class="bg-primary py-1 my-1">
    <div class="container text-center pt-2 pb-2">
            <div class="col text-uppercase">
                <p></p><h1>Our Impact</h1><p></p>
            </div>            
        <div class="row text-center text-white">
                <div class="col">
                    <h1 class="display-3">12,000</h1>
                    <h2 class="text-uppercase">Research hours</h2>
                    <p>directed towards the most pressing global problems</p>
                </div>
                <div class="col">
                    <h1 class="display-3">15</h1>
                    <h2 class="text-uppercase">Countries all over the globe</h2>
                    <p>from which students applied and benefited from our coaching</p>
                </div>
                <div class="col">
                    <h1 class="display-3">80</h1>
                    <h2 class="text-uppercase">Experts</h2>
                    <p>in our network help students from all backgrounds finding the right topic</p>
                </div>
            </div>
        </div>
    </div>

        <div class="row mt-1">
            <div class="col"></div>
        </div>

    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <h1 class="text-uppercase">OUR EXPERT NETWORK</h1>
            </div>
        </div>
    </div>

    <div class="container">
        {% if coach_groups %}
            {% for group in coach_groups %}
                <div class="row">
                    {% for coach in group %}
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    {% image coach.photo fill-400x400-c100 class="img-fluid mb-3" style="border-radius:50%" %}
                                    {{ coach.description | richtext }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js_2 %}
    <script type="text/javascript">
     $(function () {
         const $toggleButton = $('#toggle-all-coaches');

         $('#collapsible-groups')
             .on('hide.bs.collapse', function () {
                 $toggleButton.text('View all coaches');
             })
             .on('show.bs.collapse', function () {
                 $toggleButton.text('View fewer coaches');
             });
     });
    </script>
{% endblock %}
