{% extends "theses/theses_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}


{% block body_class %}template-thesisindex{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mx-auto">
            <h2 class="mb-4">What you want to optimize with your thesis?</h2>
            <div class="custom-collapse">
                <!-- Nav tabs -->
                <ul class="nav collapse" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link btn btn-info choose-nav-links" data-toggle="tab" href="#impact"
                           role="tab">Highest social
                            impact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-info choose-nav-links" data-toggle="tab" href="#career"
                           role="tab">Improving career
                            prospects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-info choose-nav-links" data-toggle="tab" href="#research"
                           role="tab">Research career
                            in academia</a>
                    </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="impact" role="tabpanel">{{ page.impact | safe }}</div>
                <div class="tab-pane" id="career" role="tabpanel">{{ page.career | safe }}</div>
                <div class="tab-pane" id="research" role="tabpanel">{{ page.research | safe }}</div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {{ page.body | safe }}
        </div>
    </div>
{% endblock %}
