{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <h1 class="h3 text-uppercase">Finished theses</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="finised-theses-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for group in theses_groups %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <div class="row mx-5">
                            {% for thesis in group %}
                                <div class="col-lg-4">
                                    <a href="{% pageurl thesis %}">
                                        <div class="card card-shadow card-finished">
                                            <div class="card-body">
                                                <h2 class="h3">{{ thesis.title }}</h2>
                                            </div>
                                            <div class="btn btn-primary btn-lg card-footer text-center w-100">
                                                Read more
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    There are no finished theses yet.
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#finised-theses-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#finised-theses-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="col pb-3">
                <h2 class="h3 text-center text-uppercase my-5">WHAT ARE OTHER STUDENTS WE ADVISE CURRENTLY WORKING ON</h2>
                {{ page.body }}
            </div>
        </div>

        {% if page.footer %}
            <div class="row">
                <div class="col">
                    <hr/>
                    {{ page.footer }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
