{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% include_block page.body %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block extra_js_2 %}
<script>
$("#ask_as_anything_form").submit(function(e) {

    e.preventDefault();

    var frm = $('#ask_as_anything_form');

    $.ajax({
        url: frm.attr('action'),
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(frm.serializeArray()),
           success: function(data)
           {
               $("#ask_as_anything").html(data);
           }
     });
});
</script>
{% endblock %}