{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% include_block page.body %}

    <div class="col-md-10">
        <div class="row" id="form-container">
            <form id="contact-form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ contactForm.contact_name.errors }}
                    {{ contactForm.contact_name }}
                </div>

                <div class="form-group">
                    {{ contactForm.contact_email.errors }}
                    {{ contactForm.contact_email }}
                </div>

                <div class="form-group">
                    {{ contactForm.content.errors }}
                    {{ contactForm.content }}
                </div>

                <input type="submit" value="Send" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/theses.js" %}"></script>

    <script type="text/javascript">
        $('#contact-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{{ request.build_absolute_uri }}',
                data: $(this).serialize(),
                headers: {
                    'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()
                },
                success: function (response) {
                    console.log(response);
                    $('#form-container').html(response['message']);
                },
                error: function (e, x, r) { // on error..
                    $('#form-container').html('Och! We got an error!');
                }
            })
        });
    </script>
{% endblock %}
