{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col card mb-3">
                        {% image page.specific.author_pic width-400 class="img-fluid mb-3" %}
                        {{ page.about_author | richtext }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row mb-5">
                    <div class="col">
                        <h3 class="text-uppercase">{{ page.title }}</h3>
                        {{ page.body }}
                    </div>
                </div>

                {% if page.pdf_thesis %}
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <div class="float-right">
                                <a href="{{ page.pdf_thesis.url }}" class="btn btn-lg btn-primary" target="_blank">Download PDF</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <nav class="thesis-nav row my-5">
            <div class="col text-left">
                {% if page.prev %}
                    <a href="{{ page.prev.url }}"><<&nbsp;Previous finished thesis</a>
                {% else %}
                    <a href="{{ page.get_parent.url }}"><<&nbsp;Back to finished</a>
                {% endif %}
            </div>
            <div class="col text-right">
                {% if page.next %}
                    <a href="{{ page.next.url }}">Next finished thesis&nbsp;>></a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="thesis-action">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md col-md-offset-auto text-center">
                    <p class="thesis-action-text">Find a meaningful topic for your thesis</p>
                </div>

                <div class="col-md-4 text-center">
                    <a href="/theses" class="btn btn-primary btn-lg">Learn more</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
