{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% include_block page.body %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="...">

            <h2>David Janků</h2>
            <h5>email@email</h5>
            <p>
                David has Bachelor's degree in
                Psychology from Masaryk University
                and MSc in Organizational Psychology
                from the University of Leeds. His
                studies focused on leadership
                effectiveness, employee selection and
                training and remote work effectiveness.
                In terms of effective altruism, he is
                most interested in prioritisation and
                connecting community. David has
                helped to develop local effective
                altruism chapter in Czech Republic and
                now runs the Effective Thesis project.
            </p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="...">
            <h2>Daniel Hnyk</h2>
            <h5>email@email</h5>
            <p>
                Daniel (email) graduated in
                Mathematical Informatics at the
                Faculty of Nuclear and Physical
                Engineering of Czech Technical
                University in Prague. His research
                mainly focuses on data science and
                machine learning, in which he also
                runs his business. Daniel is the
                founder of the Czech branch of the
                LessWrong rationalist community,
                and he is also involved in founding
                our Czech Effective Altruism Chapter,
                where he now serves as a strategic
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static " js/theses.js" %}"></script>
{% endblock %}
