{% extends "theses/theses_base.html" %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ page.title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ page.body }}
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col card mb-3">
                <a href="{{ page.pdf_thesis.url }}" target="_blank">
                    {% image page.specific.pdf_thumbnail fill-200x300 class="p-3 mx-auto" %}
                </a>
                <p class="mx-auto">
                    <a href="{{ page.pdf_thesis.url }}" target="_blank">
                        PDF download
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-3">
                {% image page.specific.author_pic fill-200x200 class="p-3 mx-auto" %}
                <p>
                    {{ page.about_author }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
