{% extends "theses/theses_base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load menu_tags %}

{% block body_class %}template-thesisindex{% endblock %}

{% block content %}

<main class="hero" style="background-image: url({% static "img/globe.jpg" %});">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mr-auto">
                    <h1 class="text-white mb-4">
                        <span class="d-inline-block">Read more about the key ideas</span>
                        <span class="d-inline-block">that inform our work.</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</main>

        <div class="row">
        </div>

    <div class="container my-3">
        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <ul class="nav nav-pills center-pills" role="tablist">
{#                    We are using both data-target and href attributes to#}
{#                    allow linking to specific tab and at the same time#}
{#                    prevent browser from subsequently scrolling to the tab,#}
{#                    which would happen if we used only a combination of id#}
{#                    and href.#}

                    <li class="nav-item li-choose">
                        <a onclick="setURLHash(this.href)"
                           id="impact-page-tab"
                           class="nav-link btn btn-primary choose-nav-links"
                           data-toggle="tab"
                           data-target="#impact-page"
                           href="#impact"
                           role="tab">
                            Principles our work is based on
                        </a>
                    </li>

                    <li class="nav-item li-choose">
                        <a onclick="setURLHash(this.href)"
                           id="career-page-tab"
                           class="nav-link btn btn-primary choose-nav-links"
                           data-toggle="tab"
                           data-target="#career-page"
                           href="#career"
                           role="tab">
                            Choosing your research focus
                        </a>
                    </li>

                    <li class="nav-item li-choose">
                        <a onclick="setURLHash(this.href)"
                           id="research-page-tab"
                           class="nav-link btn btn-primary choose-nav-links"
                           data-toggle="tab"
                           data-target="#research-page"
                           href="#research"
                           role="tab">
                            What to do next
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="impact-page" role="tabpanel">{{ page.impact | safe }}</div>
                    <div class="tab-pane" id="career-page" role="tabpanel">{{ page.career | safe }}</div>
                    <div class="tab-pane" id="research-page" role="tabpanel">{{ page.research | safe }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                {{ page.body | safe }}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js_2 %}
    <script>
        $(document).ready(function () {
            $(location.hash + '-page-tab').tab('show');
        });

        function setURLHash(hash) {
            if(history.pushState) {
                history.pushState(null, null, hash);
            }
            else {
                location.hash = hash;
            }
        }
    </script>
{% endblock %}
