{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load menu_tags %}
{% load static %}
{% load wagtailuserbar %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eacr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theses.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body_class %}template-thesisbase{% endblock %}

{% block base_content %}

    <div class="container">
        <div class="row" id="menu_bar">
            <div class="col-md-9 mb-3 pl-0">
                {% flat_menu handle="theses_menu" template="menus/theses_menu.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <hr class="mt-5"/>
        <div class="row">
            <div class="col-md-9">
                <footer role="contentinfo">
                    {% flat_menu "theses_footer" template="menus/footer_menu.html" %}
                    <p class="copyright">
                        © 2017 <a href="">Efektivní Altruismus</a>.
                        <a href="http://github.com/ea-czech-republic/efektivnialtruismus.cz">Github EA ČR</a>
                        -
                        patches welcome.
                    </p>
                </footer>
            </div>
        </div>
    </div>


    <div id="feedback-main">
        <div id="feedback-div">
            <form action="/theses/feedback/" method="post" class="form" id="feedback-form1" name="form1"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <p class="email">
                    <input name="contact_email" type="email" class="feedback-input"
                           id="feedback-email" placeholder="Email" required/>
                </p>


                <p class="text">
                    <textarea name="content" type="content" class="feedback-input"
                              id="feedback-comment" required
                              placeholder="Your feedback"></textarea>
                </p>

                <div class="feedback-submit">
                    <input type="submit" value="SEND" id="feedback-button-blue"/>
                    <div class="feedback-ease"></div>
                </div>
            </form>
        </div>
    </div>

    <button id="popup" class="feedback-button" onclick="toggle_visibility()">Feedback</button>


{% endblock %}

{% block extra_js %}
    <script src="{% static "js/theses.js" %}"></script>
{% endblock %}

{% block google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77119148-3', 'auto');
        ga('send', 'pageview');
    </script>

    <script>
        function toggle_visibility() {
            var e = document.getElementById('feedback-main');
            if (e.style.display == 'block')
                e.style.display = 'none';
            else {
                e.style.display = 'block';
                window.scrollTo(0, document.body.scrollHeight);
            }
        }
    </script>
{% endblock %}