{% extends "theses/theses_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load menu_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ page.body | safe }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Pick your study discipline</h3>
        <form id="discipline-filter-form" action="" method="GET">
            {% for discipline in disciplines %}
            <input type="checkbox" class="badgebox" name="discipline" value="{{ discipline }}"
                   id="{{ discipline | slugify }}-discipline"/>
            <label class="btn btn-info tag-select" for="{{ discipline | slugify }}-discipline">
                {{ discipline }}
            </label>
            {% endfor %}
            <!-- Must be here because of stupid firefox which cannot submit forms wihtout a button -->
            <input id="disc-submit-input" type="submit" value="submit" style="visibility:hidden;"/>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12 all-tags">
        <h3 id="Interest">Pick area of interest</h3>
        <div class="card mb-3" style="border-color: #17a2b8;">
            <div class="card-body">
                <p class="card-text m-0">
                    {% if selectedDisciplineDescription %}
                    {{ selectedDisciplineDescription | safe }}
                    {% else %}
                    Why do we focus specifically on these areas?
                    <a href="http://effectivethesis.com/how-choose-thesis/#impact">Learn more here</a>
                    <br />
                    Couldn't find a topic that would suit you? Try our <a href="http://effectivethesis.com/thesis-coaching/">Thesis Topic Coaching</a>
                    {% endif %}
                </p>
            </div>
        </div>
{% endblock %}

{% block extra_js_2 %}
<script>
        /* Terrible hack - we need to append the form to the DOM and then send it... Mostly because firefox */
        var _form = document.getElementById("discipline-filter-form");
        document.getElementById("discipline-filter-form").addEventListener("click", function () {
            var form = $.clone(_form);
            form.style.display = "none";
            document.body.appendChild(form);
            form.submit();
        });

        $('label.btn[for="{{ selectedDiscipline }}"').css('background-color', '#449d44');






</script>
{% endblock %}
