{% extends "theses/theses_base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% load menu_tags %}

{% block content %}
    <main class="hero" style="background-image: url({% static "img/hero-topics.jpg" %});">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mr-auto">
                        <h1 class="text-white mb-4">
                            <span class="d-inline-block">Use your thesis to improve the world.</span>
                            <span class="d-inline-block">Our coaching will help you.</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container mb-3">
        <div class="row">
            <div class="col">
                {% include_block page.body %}
            </div>
        </div>
    </div>

    <div class="bg-primary mb-4">
        <div class="container text-center pt-4 pb-5">
            <div class="row mb-3">
                <div class="col text-uppercase">
                    <h3>How it works</h3>
                </div>
            </div>

            <!-- cards how it works -->
            <div class="row">
                <div class="col">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-primary text-uppercase m-0">1 Apply</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Apply for coaching via the form below. After you apply, we will review your application and let you know whether we can offer you support. We are looking for people ready to put extra effort into figuring out how they can contribute to improving the world and make their research exceptional. If you are accepted, we will find a coach who is a good fit for you. Your coach will help you to identify the most important problems you could work on and how to tackle them with your thesis.
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-primary text-uppercase m-0">2 Connect</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    If you and your coach find a topic for you that's aligned with one of our recommended research directions, we will try to connect you with external researchers or organisations working on the same problem. We will not help you with thesis writing but will give you access to our supportive community where you can ask for help and share your experience with other students who are driven by the goal of doing research that has a significant positive impact on the world.
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h2 class="text-primary text-uppercase m-0">3 Start</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    After you finish your thesis, we
                                    will support you in publishing it and
                                    making it accessible to others. This service is free
                                    - our aims are to help students
                                    identify the most important problems
                                    and support research into these problems.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if page.body2 %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% include_block page.body2 %}
                </div>
            </div>
        </div>
    {% endif %}

    {# Coaching application form #}
    <script type="text/javascript" src="https://form.jotform.com/jsform/211994865700362"></script>

    {% if page.footer %}
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    {% include_block page.footer %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
