body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    text-transform: uppercase;
}

.navbar a {
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.btn, .btn:hover, .btn:focus {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: initial;
    border: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #070259;
    border-color: #070259;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(7, 2, 89, .5);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #070259;
    background-color: rgba(255, 255, 255, 0.8);
}

.text-primary {
    color: #070259 !important;
}

.card {
    border: none;
    border-radius: initial;
}

.card-img-top {
    border-radius: initial;
}

.card-header {
    border: initial;
    background-color: #E5E4E4;
}

.card-header:first-child,
.card-footer:last-child {
    border-radius: initial;
}

.card-shadow {
    -webkit-box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.5);
}

.display-3 {
    font-weight: bold;
}

#page-lead {
    background-image: url("../imgs/background.jpg");
}

/* main page */

.page-content a {
    border-bottom: 1px dotted #a2a2a2;
    text-decoration: none;
    color: #222222;
}

.page-content a:hover {
    border-bottom-style: solid;
}

.template-homepage .card {
    border: none;
}

.template-homepage h5 {
    font-size: 1.1em;
    font-weight: bold;
}

.template-homepage .card-text {
    font-size: 0.9em;
}

/* TOP PAGE IMG */

#page-lead {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    display: block;
}

#page-lead a {
    border-radius: 25px;
    background-color: whitesmoke;
    border-bottom: 1px dotted #a2a2a2;
    text-decoration: none;
    color: #222222;
}

#page-lead a:hover {
    background-color: #313130;
    color: #FFFFFF;
}

/* CONTENT */

.template-blogindexpage .indexed-post {
    border: 1px solid #ccc !important;
    border-radius: 16px !important;
}

.block-heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.template-blogpage section.block-paragraph p {
    text-align: justify;
}

body.template-blogpage section.block-image img.blog-image {
    text-align: center;
    max-width: 100%;
    max-height: 450px;
    height: auto;
    width: auto;
}

.post-card-image {
    min-width: 200px;
    min-height: 200px;
    display: inline-block;
}


/* container */

#share {
    margin: 100px auto;
    text-align: center;
    top: 20%;
    right: 0px;
    height: 200px;
    width: 60px;
    position: fixed;
    line-height: 0px;

}

@media only screen and (max-width: 580px) {
    #share {
        margin: 100px auto;
        text-align: center;
        height: 200px;
        width: 60px;
        position: unset;
        top: unset;
        line-height: 0px;
    }
}

/* buttons */

#share a {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    margin: 2px;
    border-radius: 50%;
    font-size: 1.6vw;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share a:hover {
    opacity: 1;
}

/* icons */

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.googleplus {
    background: #dd4b39;
}

.linkedin {
    background: #0077b5;
}

.pinterest {
    background: #cb2027;
}

.medailon-mainpage {
    margin-right: 3rem;
}
