@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.55);
    font-size: 21px;
}

body a {
    color: rgba(0, 0, 0, 0.8);
}

body a:hover {
    color: #f79522 !important;
}

h1 {
   font-weight: 700;
}

#links-list > li > a.nav-link {
    font-size: 20px;
    font-weight: bold;
}

#links-list > li > a.nav-link:hover {
    color: #f79522;
}

.navbar-nav {
    text-align:center;
}
