body div.rich-text p {
    text-align: justify;
    margin-bottom: 0.5em;
}

.tag {
    background-color: rgb(249, 229, 209);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.tags-label {
    font-size: 9px;
}

h1 h2 {
    color: #014c8c;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox {
    opacity: 0;
    width: 0px;
}

.badgebox + .badge {
    width: 27px;
}

.badgebox:focus + .badge {
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + label {
    background-color: #449d44;
}

.tag-select {
    font-size: 15px;
    padding: 1px 1px 2px 2px;
    margin: 1px 1px 1px 1px;
}

.thesis p {
    margin-right: 20px;
    margin-left: 20px;
}

.card-subheader {
    color: #f7f7f9;
}

.btn-responsive {
    width: 215px;
}

@media (max-width: 900px) {
    body.template-thesisindex h3.display-3 {
        font-size: 5vw;
    }
}

@media (max-width: 580px) {
    body.template-thesisindex p {
        font-size: 4vw;
    }
}

@media (max-width: 580px) {
    .responsive-text {
        font-size: 4vw;
    }
}

@media (max-width: 580px) {
    .btn-responsive {
        width: 40vw;
        padding: 3px;
    }
}

.choose-nav-links {
    margin: .5em;
}

@media screen and (max-width: 768px) {
    .custom-collapse .collapse {
        display: block;
    }
}

@media (min-width: 34em) {
    .card-deck > .card {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
    }
}

.rich-text img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.block-image img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed-card-header-height {
    min-height: 3.5rem;
}

.thesis-these {
    line-height: 2rem;
}

.center-pills {
    display: inline-flex;
}

.li-choose{
    margin-left: 2rem;
    margin-right: 2rem;
}
